argcomplete==3.6.2
asgiref==3.8.1
attrs==25.3.0
babel==2.17.0
bcc==0.1.10
bcrypt==4.3.0
blinker==1.9.0
celery[redis]==5.3.6  # celery с redis transport
crispy-bootstrap5==2025.6
Django==5.2.4
django-crispy-forms==2.4
django-widget-tweaks==1.5.0
dotenv==0.9.9
gunicorn # Добавлено gunicorn
numpy==2.2.4
pillow==11.3.0
psycopg2-binary==2.9.10
python-dotenv==1.1.0
redis  # redis, установит последнюю версию
sqlparse==0.5.3
traitlets==5.14.3
traittypes==0.2.1