{% extends 'base.html' %}
{% load static %}

{% block title %}Мои бронирования{% endblock %}

{% block content %}
    <div class="container">
        <h1>Мои бронирования</h1>
        {% if bookings %}
            <ul>
                {% for booking in bookings %}
                    <li>
                        Стол #{{ booking.table.number }} в {{ booking.table.restaurant.name }} - {{ booking.booking_time|date:"d.m.Y H:i" }} ({{ booking.duration|time:"H:i" }})
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>У вас пока нет бронирований.</p>
        {% endif %}
    </div>
{% endblock %}