{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>Бронирование столика в {{ restaurant.name }}</h1>
        <p>Выберите стол и время:</p>

        <form method="post">
            {% csrf_token %}

            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    Пожалуйста, исправьте следующие ошибки:
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ form.field.label }}: {{ error }}</li>  <!-- Corrected Line -->
                                 <ul>
                                     {% for e in errors %}
                                        <li>{{ e }}</li>
                                     {% endfor %}
                                 </ul>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="mb-3">
                <label for="{{ form.table.id_for_label }}" class="form-label">Стол</label>
                {{ form.table }}
                {% if form.table.errors %}
                    <div class="text-danger">
                        {% for error in form.table.errors %}
                                {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="{{ form.booking_time.id_for_label }}" class="form-label">Дата и время бронирования</label>
                {{ form.booking_time }}
                {% if form.booking_time.errors %}
                    <div class="text-danger">
                        {% for error in form.booking_time.errors %}
                             {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="{{ form.duration.id_for_label }}" class="form-label">Длительность</label>
                {{ form.duration }}
                {% if form.duration.errors %}
                    <div class="text-danger">
                        {% for error in form.duration.errors %}
                             {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary">Забронировать</button>
        </form>
    </div>
{% endblock %}