{% extends 'base.html' %}

{% block title %}Рестораны{% endblock %}

{% block content %}
    <h1>Рестораны</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="" class="card-img-top" alt="Ресторан 1">
                <div class="card-body">
                    <h5 class="card-title">Название ресторана 1</h5>
                    <p class="card-text">Краткое описание ресторана 1.</p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="" class="card-img-top" alt="Ресторан 2">
                <div class="card-body">
                    <h5 class="card-title">Название ресторана 2</h5>
                    <p class="card-text">Краткое описание ресторана 2.</p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="" class="card-img-top" alt="Ресторан 3">
                <div class="card-body">
                    <h5 class="card-title">Название ресторана 3</h5>
                    <p class="card-text">Краткое описание ресторана 3.</p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}